.card {
    min-height: 150px;
    border: 2px solid #f9a857;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cardContent {
    margin-top: 8px;
    overflow-wrap: break-word;
  }